.group-impression {
  width: 100%;
  margin: 0 auto;
  order: -1;
}

@media (min-width: 768px) {
  .group-impression {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .group-impression {
    width: 45%;
  }
}

.group-impression__title {
  position: relative;
  width: 170px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-radio-list {
  min-width: 320px;
  margin: 0 auto;
}

.main-radio-list__item {
  position: relative;
  width: 215px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
}
