.group-name {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .group-name {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .group-name {
    width: 45%;
  }
}

.group-name__title {
  position: relative;
  width: 170px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.group-name__name {
  position: relative;
  width: 66px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
}

.group-name__input {
  position: relative;
  min-width: 67px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
}

.group-name__input::placeholder {
  position: relative;
  min-width: 67px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
}
