.group-places {
  min-width: 320px;
  margin: 0 auto;
}

.group-places__title {
  position: relative;
  width: 170px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.group-places_list {
  min-width: 320px;
  margin: 0 auto;
}

.group-places_list__item {
  position: relative;
  width: 215px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
}
