.group-places {
  width: 100%;
  margin: 0 auto;
  border: none;
}

.group-places_list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.group-places__title {
  position: relative;
  width: 170px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.group-places_list__item {
  position: relative;
  width: 100%;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
}

@media (min-width: 768px) {
  .group-places_list__item {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .group-places_list__item {
    width: 25%;
  }
}
