.info-list {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.info-list__wrapper {
  width: 100%;
  background-color: #81b3d2;
}

@media (min-width: 768px) {
  .info-list__wrapper {
    width: 256px;
  }
}

@media (min-width: 1200px) {
  .info-list__wrapper {
    width: 400px;
  }
}

.info-list__item--grey {
  flex-grow: 1;
  background-color: #eeeeee;
  width: 100%;
}

@media (min-width: 768px) {
  .info-list__item--grey {
    width: calc(100% / 3);
  }
}

@media (min-width: 1200px) {
  .info-list__item--grey {
    width: calc(100% / 3);
  }
}

.info-list__title {
  position: relative;
  width: 295px;
  min-height: 117px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.info-list__number {
  position: relative;
  width: 295px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.info-list__text {
  position: relative;
  width: 295px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.info-list__item--grey .info-list__title {
  color: #000000;
}

.info-list__item--grey .info-list__number {
  color: #000000;
}

.info-list__item--grey .info-list__text {
  color: #000000;
}

.info-list__box img {
  flex-grow: 1;
}

.info-list__item:nth-child(2n) img {
  order: -1;
}

.info-list__box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
