.inner-info-list {
  display: flex;
  flex-wrap: wrap;
}

.inner-info-list__title {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.inner-info-list__text {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.inner-info-list__item {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .inner-info-list__item {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .inner-info-list__item {
    width: 33%;
  }
}

.inner-info-list__item--gift {
  order: 0;
}

@media (min-width: 768px) {
  .inner-info-list__item--gift {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .inner-info-list__item--gift {
    order: 1;
  }
}
