.intro {
  background-image: url(../img/bg-back-mobile@1x.jpg);
    background-position: center top;
      width: 384px;
    height: 194.5px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
