.main-nav__wrapper {
  min-width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  .main-nav__wrapper {
    min-width: 1200px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
