.map {
  min-width: 320px;
  margin: 0 auto;
}

.map__title {
  position: relative;
  width: 285px;
  min-height: 162px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.map__text {
  position: relative;
  width: 295px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.map__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  position: relative;
  min-width: 216px;
  background: #81b3d2;
  border: none;
  color: #ffffff;
  text-decoration: none;
  min-height: 58px;
  text-transform: uppercase;
  padding: 20px 20px 20px 20px;
}

.map img {
  display: block;
}
