.page-footer__hashtag {
  position: relative;
  width: 166px;
  height: 26px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
