.photo-card {
  min-width: 320px;
  margin: 0 auto;
}

.photo-card__title {
  position: relative;
  width: 142px;
  min-height: 43px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.photo-card__text {
  position: relative;
  width: 295px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
}
