.photo-card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .photo-card {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  .photo-card {
    min-width: 1200px;
  }
}

.photo-card__title {
  position: relative;
  width: 142px;
  min-height: 43px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.photo-card__text {
  position: relative;
  width: 295px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.photo-card__number-of-likes {
  position: relative;
  width: 53px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
