.site-list__item {
  position: relative;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.site-list__item--active {
  position: relative;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}
